### 0. 참고논문
1. 머신러닝 기반 음식점 추천시스템 설계 및 구현 - 최환석, 팽전, 이우섭 2020
2. 영화리뷰 감성분석 데이터: https://raw.githubusercontent.com/e9t/nsmc/master/ratings_train.txt , <br>https://raw.githubusercontent.com/e9t/nsmc/master/ratings_test.txt

### 1. 서론

* 클러스터링은 비슷한 데이터를 하나의 그룹으로 만들어 주는 머신러닝 알고리즘 중 하나이다. 어떤 사람에게 음식점을 추천한다고 가정할 때,
비슷한 음식점을 추천하면 실패할 가능성이 적을 것이다([1]). 이런 관점에서 클러스터링은 좋은 추천 알고리즘이라고 볼 수 있다. 비슷한 음식점이라는 것을 여러 가지 방법으로 생각할 수 있는 데, 여러 종류의 평점도 비슷한 음식점을 찾아내는 데 좋은 데이터라고 할 수 있고, 리뷰에서 비슷한 음식점을 찾는 것도 좋은 방법이다. 우리는 영화를 추천하는 것을 해보기로 하였다. 영화도 다양한 평가 점수가 있고, 리뷰도 많아서 추천시스템을 만들기 좋다고 생각하였다. 

### 2. 연구방법

#### 2.1 데이터

* 머신러닝을 위해서는 많은 데이터가 필요한데, 이 데이터를 얻기가 쉽지는 않았다. 영화리뷰 감성분석에 관한 데이터([2])가 있는 데, 여기는 영화리뷰와 긍정,부정 평가 결과로 구성되어 있어서, 영화 추천에 필요한 정보가 많지는 않았다. 영화 데이터를 얻을 수 있는 사이트는 네이버, 등이 있었다. 이 사이트에는 평점, 리뷰가 있어서 추천 시스템을 만들기 적합하다고 생각되었고, 우선 작은 데이터를 만들어 시험해보기로 하였다. 영화 100개를 선정하고 이들 영화에 대한 평점과 리뷰를 수집하였다. 시간이 많지 않았으므로 일부 데이터는 크롤링 프로그램을 이용하여 수집하였다. 데이터의 속성은 다음 표와 같다.

속성명 | 설명
---|---
관람객| 관람객 평점(1~5)
평론가| 평론가 평점(1~5)
...|
리뷰1| 첫번째 리뷰
...|
리뷰30| 30번째 리뷰

#### 2.2 추천방법

* 어떤 사람에게 영화를 추천하려면 그 사람이 어떤 영화를 좋아했는 지를 조사하는 것이 필요하다. 클러스터링을 통하여 비슷한 영화들을 모아 여러 그룹을 만들었고, 한 사람이 좋아하는 영화가 특정 그룹에 많이 포함되어 있으면 그 그룹의 영화를 추천하는 방법을 만들어 보고 검증해 보기로 하였다.

* 클러스터링을 할 때 평점만 사용할 수도 있고, 리뷰만 사용할 수도 있다. 또 평점과 리뷰를 모두 사용할 수도 있다. 각각의 경우에 추천방법을 적용해보고 어떤 경우가 좋은지 살펴보기로 하였다.

* 추천 정확도를 속이는 방법도 가능한 데, 어떤 사람이 모든 영화에 대하여 좋아한다고 표시하면, 어떤 영화를 추천해도 결과는 좋을 것이다. 100개 영화의 선호도 ranking을 표시하도록 하고, 이 경우에 추천시스템의 성능을 계산하는 지표를 만드는 방법도 연구해보기로 하였다.

* 리뷰로 추천하기 위해서 tfidf를 사용하여 각 영화마다 특성 벡터를 만들어 클러스터링하기로 하였다.

* 리뷰의 특성벡터가 매우 크므로 각 영화에서 단어가 사용된 양(비율)들의 벡터를 이용하여 클러스터링 하여 유사 단어를 만들고, 유사단어들을 하나의 특성으로 만드는 방법을 사용할 경우 영화 클러스터링은 어떻게 달라지는 지 실험하고, 추천시스템의 성능도 비교해보기로 하였다.

#### 2.3 평가방법

* 데이터를 학습시키는 데 70%를 무작위로 골라 사용하였고, 30%는 검증에 사용하였다.

* 30개 중에서 추천영화를 몇개 추천하고 이중 좋아하는 영화의 비율을 추천시스템의 성능지표로 사용하였다.

### 3. 연구 결과

* 평점만으로 클러스터링 할 때

* 리뷰만으로 클러스터링 할 때

* 평점과 리뷰를 결합할 때 (결합방법)

* 추천시스템 성능을 높이기위해 선호도를 어떻게 표시해야하는가? 추천시스템의 동작원리를 추측해 보았다.

### 4. 결론

* 데이터를 만드는 것이 어렵고 시간이 많이 걸렸다.

* 추천방법은 효과가 있었지만 사람에 따라 정확도가 달라졌다.

* 정확도를 높이도록 선호도 평가를 할 수도 있었다.

* 평가방법을 공정하게 하기위해 몇 가지 방법을 시도해 보았다.

* 영화 개수가 늘면 다른 문제가 생길 수 있다.

## [프로그램]

### 1. Khaiii 와 나눔폰트 설치
* !git clone https://github.com/kakao/khaiii.git
* !mkdir khaiii/build
* !cd khaiii/build; cmake ..
* !cd khaiii/build; make all
* !cd khaiii/build; make resource
* !cd khaiii/build; make package_python
* !cd khaiii/build/package_python; pip install .
* !apt install fonts-nanum

### 2. matplotlib 시작

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
fm._rebuild()
# colab에서는 런타임 다시시작 필요
# ubuntu에서는 reboot

In [ ]:
plt.rcParams['font.size']=10
plt.rcParams['xtick.labelsize'] = 'larger' #medium, large

### 3. data 불러오기

In [3]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('데이터매쓰 영화 데이터 완성2.csv')
df = df.rename(columns={'남자 ': '남자.2'})
df = df[df.columns[:-20]]
df['네티즌'] = df['네티즌'].str.replace(r'(,)','.').astype(float)
df['관람객'] = df['관람객'].str.replace(r'(등록 전)','NaN').astype(float)
df['남자'] = df['남자'].str.replace(r'(등록 전)','NaN').astype(float)
df['여자'] = df['여자'].str.replace(r'(등록 전)','NaN').astype(float)
df['10대'] = df['10대'].str.replace(r'(등록 전)','NaN').astype(float)
df['20대'] = df['20대'].str.replace(r'(등록 전)','NaN').astype(float)
df['30대'] = df['30대'].str.replace(r'(등록 전)','NaN').astype(float)
df['40대'] = df['40대'].str.replace(r'(등록 전)','NaN').astype(float)
df['50대 이상'] = df['50대 이상'].str.replace(r'(등록 전)','NaN').astype(float)
df['영상미'] = df['영상미'].str.replace(r'(등록 전)','NaN').astype(float)
df['스토리'] = df['스토리'].str.replace(r'(등록 전)','NaN').astype(float)
df['연기'] = df['연기'].str.replace(r'(등록 전)','NaN').astype(float)
df['연출'] = df['연출'].str.replace(r'(등록 전)','NaN').astype(float)
df['남자.2'] = df['남자.2'].str.replace(r'(등록 전)','NaN').astype(float)
df['여자.2'] = df['여자.2'].str.replace(r'(등록 전)','NaN').astype(float)
df['10대.2'] = df['10대.2'].str.replace(r'(등록 전)','NaN').astype(float)
df['20대.2'] = df['20대.2'].str.replace(r'(등록 전)','NaN').astype(float)
df['30대.2'] = df['30대.2'].str.replace(r'(등록 전)','NaN').astype(float)
df['40대.2'] = df['40대.2'].str.replace(r'(등록 전)','NaN').astype(float)
df['50대 이상.2'] = df['50대 이상.2'].str.replace(r'(등록 전)','NaN').astype(float)
df['대표국적_한국'] = (df['대표국적'] == '한국') * 1
df2 = pd.read_excel('데이터매쓰 영화 데이터 + 선호도.xlsx',skiprows=4)
df = pd.concat([df,df2[['수빈','승준','선주','지후']]],axis=1)

In [21]:
df.columns

Index(['순위', '영화명', '개봉일', '매출액', '관객수', '스크린수', '상영횟수', '대표국적', '국적', '배급사',
       '장르', '관람객', '평론가', '네티즌', '남자', '여자', '10대', '20대', '30대', '40대',
       '50대 이상', 'OST', '영상미', '스토리', '연기', '연출', '남자.1', '여자.1', '10대.1',
       '20대.1', '30대.1', '40대.1', '50대 이상.1', 'OST.1', '영상미.1', '스토리.1',
       '연기.1', '연출.1', '남자.2', '여자.2', '10대.2', '20대.2', '30대.2', '40대.2',
       '50대 이상.2', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '대표국적_한국', '수빈', '승준', '선주',
       '지후'],
      dtype='object')

### 4. 매출액', 관객수, 스크린수, 상영횟수, 관람객, 평론가, 네티즌, 대표국적_한국 으로 학습할 경우

In [24]:
df_a = df[['매출액', '관객수', '스크린수', '상영횟수', '관람객', '평론가', '네티즌','대표국적_한국']].copy()

In [25]:
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
매출액        100 non-null int64
관객수        100 non-null int64
스크린수       100 non-null int64
상영횟수       100 non-null int64
관람객        77 non-null float64
평론가        100 non-null float64
네티즌        100 non-null float64
대표국적_한국    100 non-null int64
dtypes: float64(3), int64(5)
memory usage: 6.3 KB

* 위에서 관람객은 23개의 결측이 있는 것을 알았다.
* 아래와 같이 결측이 있는 데이터 삭제하자.

In [23]:
idx = ~df_a.isnull().any(axis=1)
df_b = df_a.loc[idx]
df_b.shape

(77, 8)

* kmeans알고리즘에서는 큰 수를 가진 특성에 의해 group이 나눠지는 경향이 있으므로 모든 특성을 0에서 1사이의 값으로 바꾸어준다.

In [30]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
X = mms.fit_transform(df_b)

In [31]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=9,random_state=2)
km.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=9, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=2, tol=0.0001, verbose=0)

* 클러스터 column추가

In [34]:
columns = ['영화명','장르','대표국적_한국','매출액', '관객수', '스크린수', '상영횟수', '관람객', '평론가', '네티즌',
          '수빈','승준','선주','지후']
dft = df.loc[df_b.index,columns]
dft['클러스터번호'] = km.labels_

In [36]:
n = 0
dft.loc[dft['클러스터번호']==n]

,영화명,장르,대표국적_한국,매출액,관객수,스크린수,상영횟수,관람객,평론가,네티즌,수빈,승준,선주,지후,클러스터번호
44,어벤져스,"액션, SF, 모험",0,59634896458,7087068,967,112526,8.25,7.75,8.80,3,2,1,3,0
53,미션 임파서블: 폴아웃,"액션, 모험, 스릴러",0,55888375112,6584915,1957,101374,9.15,7.56,9.12,3,3,1,3,0
54,다크 나이트 라이즈,"액션, 범죄, 스릴러",0,47910613000,6428574,1210,84755,9.56,7.69,9.02,3,3,1,3,0
57,킹스맨 : 시크릿 에이전트,"액션, 스릴러",0,50369009795,6129681,728,139988,9.02,7.58,8.82,3,2,2,1,0
58,미션 임파서블: 로그네이션,"액션, 모험, 스릴러",0,48547353607,6126488,1202,89683,8.81,7.54,8.75,2,3,2,3,0
60,인셉션,"액션, 모험, SF, 스릴러",0,44862253440,5998647,531,92909,9.60,7.93,9.23,2,3,3,2,0
61,레미제라블,드라마,0,43185230000,5938769,696,85092,9.20,7.15,8.38,1,1,2,1,0
71,닥터 스트레인지,"액션, 모험, 판타지",0,47490572396,5447269,1503,162879,8.88,7.03,8.72,3,3,1,3,0
80,조커,"스릴러, 드라마",0,45443092130,5255308,1418,148270,8.97,7.64,8.66,3,3,1,3,0
81,월드워Z,"드라마, 스릴러, SF, 액션, 모험",0,38589794000,5244336,964,102831,9.00,6.61,8.23,2,2,2,2,0
83,미녀와 야수,"판타지, 뮤지컬, 멜로/로맨스",0,42253148459,5156372,1627,142729,8.99,7.00,8.78,3,1,3,1,0
86,아쿠아맨,"액션,모험, SF",0,44145008504,5041187,1285,105440,8.77,6.83,8.36,2,2,2,3,0
88,인사이드 아웃,"애니메이션, 코미디",0,38024694936,4969735,931,84000,9.05,7.88,9.08,3,1,3,2,0
91,마션,"모험, 드라마, SF",0,39702034175,4887144,1132,115967,8.72,7.91,8.42,1,3,3,3,0
92,토르: 라그나로크,"액션,모험, 판타지, SF",0,39261266595,4858572,1640,137496,9.03,6.13,8.84,2,3,1,3,0

### 5. 관람객 빼고 추천하기

#### 5.1 학습하기

In [128]:
df_b = df[['매출액', '관객수', '스크린수', '상영횟수', '평론가', '네티즌','대표국적_한국']].copy()
df_b.shape

(100, 7)

In [129]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
매출액        100 non-null int64
관객수        100 non-null int64
스크린수       100 non-null int64
상영횟수       100 non-null int64
평론가        100 non-null float64
네티즌        100 non-null float64
대표국적_한국    100 non-null int64
dtypes: float64(2), int64(5)
memory usage: 5.5 KB

In [130]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
X = mms.fit_transform(df_b)

In [131]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=9,random_state=2)
km.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=9, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=2, tol=0.0001, verbose=0)

* 클러스터 column추가

In [132]:
columns = ['영화명','장르','대표국적_한국','매출액', '관객수', '스크린수', '상영횟수', '관람객', '평론가', '네티즌',
          '수빈','승준','선주','지후']
dft = df.loc[df_b.index,columns]
dft['클러스터번호'] = km.labels_

In [133]:
n = 0
dft.loc[dft['클러스터번호']==n]

,영화명,장르,대표국적_한국,매출액,관객수,스크린수,상영횟수,관람객,평론가,네티즌,수빈,승준,선주,지후,클러스터번호
31,스파이더맨: 파 프롬 홈,"액션, 모험, 코미디, SF",0,69033177100,8023606,2142,181035,8.99,6.56,8.33,3,3,1,3,0
33,트랜스포머 3,"SF, 액션, 모험",0,74842906588,7785189,1409,124464,NaN,5.48,7.06,3,2,1,3,0
39,스파이더맨: 홈커밍,"액션, 모험, SF",0,59125813820,7258678,1965,164448,8.83,7.00,8.36,3,3,1,3,0
53,미션 임파서블: 폴아웃,"액션, 모험, 스릴러",0,55888375112,6584915,1957,101374,9.15,7.56,9.12,3,3,1,3,0
62,캡틴 마블,"액션, 모험, SF",0,51507488723,5802810,2100,186382,8.45,6.86,6.75,2,3,1,3,0
63,쥬라기 월드: 폴른 킹덤,"액션, 모험, SF",0,49770711037,5661128,1972,144779,8.55,6.40,8.01,2,3,2,3,0
68,쥬라기 월드,"액션, 모험, SF, 스릴러",0,47804159826,5547463,1290,119248,8.26,6.63,7.88,2,3,2,3,0
70,앤트맨과 와스프,"액션,모험,SF",0,47468053685,5448134,1775,148244,8.85,6.13,8.62,2,3,1,3,0
71,닥터 스트레인지,"액션, 모험, 판타지",0,47490572396,5447269,1503,162879,8.88,7.03,8.72,3,3,1,3,0
75,블랙 팬서,"액션, 드라마, SF",0,45885729957,5399327,1620,119180,8.33,6.67,7.51,2,3,1,3,0
78,트랜스포머: 사라진 시대,"SF, 액션, 모험",0,44012752845,5295836,1602,107875,7.44,4.67,6.58,3,3,1,3,0
83,미녀와 야수,"판타지, 뮤지컬, 멜로/로맨스",0,42253148459,5156372,1627,142729,8.99,7.00,8.78,3,1,3,1,0
89,킹스맨: 골든 서클,"액션, 모험, 코미디",0,40987484736,4945484,1687,95922,8.60,5.00,8.36,3,2,1,1,0
92,토르: 라그나로크,"액션,모험, 판타지, SF",0,39261266595,4858572,1640,137496,9.03,6.13,8.84,2,3,1,3,0
99,라이온 킹,"모험, 드라마, 가족",0,41519732430,4743295,1936,126503,8.65,6.00,8.28,3,1,3,2,0

#### 5.2. 검증하기

* 사용자 선호가 미리 조사된 자료(training set)와 나중에 조사된 자료(test set)로 나누기

In [134]:
from sklearn.model_selection import train_test_split
train_index,test_index = train_test_split(range(100),test_size=0.4,random_state=4)

In [135]:
dft.loc[train_index].groupby('클러스터번호')['수빈'].mean()

클러스터번호
0    2.714286
1    1.800000
2    1.615385
3    2.666667
4    2.750000
6    2.285714
7    1.562500
8    2.400000
Name: 수빈, dtype: float64

In [136]:
dft2 = dft.loc[test_index]
dft2.loc[dft2['클러스터번호']==3,'수빈'].mean()

3.0

In [137]:
k = rmeans.sort_values(ascending=False)
k

클러스터번호
8    3.000000
6    3.000000
3    2.750000
2    2.571429
4    2.363636
0    2.250000
7    2.200000
5    2.000000
1    1.875000
Name: 지후, dtype: float64

In [138]:
k.index[0]

8

In [139]:
k[3]

2.75

In [140]:
dft3 = dft.loc[test_index]
for name in ['수빈','승준','선주','지후']:
    rmeans = dft.loc[train_index].groupby('클러스터번호')[name].mean()
    k = rmeans.sort_values(ascending=False)
    rnum = k.index[0]
    rmean = k[rnum]
    tmeans = dft3.groupby('클러스터번호')[name].mean()
    print(k)
    print('%s: 추천클러스터=%d, 추천평균=%f, 검증평균=%f' % (name,rnum,rmean,tmeans[rnum]))
    print(tmeans)
    print()

클러스터번호
4    2.750000
0    2.714286
3    2.666667
8    2.400000
6    2.285714
1    1.800000
2    1.615385
7    1.562500
Name: 수빈, dtype: float64
수빈: 추천클러스터=4, 추천평균=2.750000, 검증평균=2.500000
클러스터번호
0    2.500000
1    1.000000
2    1.666667
3    3.000000
4    2.500000
5    3.000000
6    2.285714
7    1.750000
8    2.250000
Name: 수빈, dtype: float64

클러스터번호
4    2.750000
3    2.666667
8    2.400000
6    2.285714
0    2.142857
1    1.800000
2    1.538462
7    1.437500
Name: 승준, dtype: float64
승준: 추천클러스터=4, 추천평균=2.750000, 검증평균=2.500000
클러스터번호
0    3.000000
1    1.500000
2    1.666667
3    2.500000
4    2.500000
5    2.333333
6    2.285714
7    1.250000
8    1.750000
Name: 승준, dtype: float64

클러스터번호
8    2.400000
3    2.333333
6    2.000000
4    2.000000
1    2.000000
7    1.875000
0    1.714286
2    1.692308
Name: 선주, dtype: float64
선주: 추천클러스터=8, 추천평균=2.400000, 검증평균=2.250000
클러스터번호
0    1.125000
1    1.000000
2    2.000000
3    2.000000
4    1.500000
5    1.666667
6    2.142857
7    2.000000
8    2.250000
Name: 선주, dtype: float64

클러스터번호
8    2.800000
3    2.666667
6    2.571429
4    2.500000
1    2.400000
0    2.285714
7    2.187500
2    2.076923
Name: 지후, dtype: float64
지후: 추천클러스터=8, 추천평균=2.800000, 검증평균=1.750000
클러스터번호
0    3.000000
1    1.500000
2    2.000000
3    2.750000
4    3.000000
5    2.666667
6    2.285714
7    2.250000
8    1.750000
Name: 지후, dtype: float64

### 6. 평점만으로 추천하기

#### 6.1 학습하기

In [107]:
columns = ['관람객', '평론가', '네티즌', '남자', '여자', '10대', '20대', '30대', '40대',
       '50대 이상', 'OST', '영상미', '스토리', '연기', '연출', '남자.1', '여자.1', '10대.1',
       '20대.1', '30대.1', '40대.1', '50대 이상.1', 'OST.1', '영상미.1', '스토리.1',
       '연기.1', '연출.1', '남자.2', '여자.2', '10대.2', '20대.2', '30대.2', '40대.2',
       '50대 이상.2']
df_a = df[columns].copy()

In [108]:
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 34 columns):
관람객         77 non-null float64
평론가         100 non-null float64
네티즌         100 non-null float64
남자          77 non-null float64
여자          77 non-null float64
10대         77 non-null float64
20대         77 non-null float64
30대         77 non-null float64
40대         77 non-null float64
50대 이상      77 non-null float64
OST         100 non-null object
영상미         64 non-null float64
스토리         64 non-null float64
연기          64 non-null float64
연출          64 non-null float64
남자.1        100 non-null float64
여자.1        100 non-null float64
10대.1       100 non-null float64
20대.1       100 non-null float64
30대.1       100 non-null float64
40대.1       100 non-null float64
50대 이상.1    100 non-null float64
OST.1       100 non-null int64
영상미.1       100 non-null int64
스토리.1       100 non-null int64
연기.1        100 non-null int64
연출.1        100 non-null int64
남자.2        77 non-null float64
여자.2        77 non-null float64
10대.2       77 non-null float64
20대.2       77 non-null float64
30대.2       77 non-null float64
40대.2       77 non-null float64
50대 이상.2    77 non-null float64
dtypes: float64(28), int64(5), object(1)
memory usage: 26.6+ KB

In [116]:
columns = ['평론가', '네티즌', '남자.1', '여자.1', '10대.1',
       '20대.1', '30대.1', '40대.1', '50대 이상.1', 'OST.1', '영상미.1', '스토리.1',
       '연기.1', '연출.1']
df_b = df[columns].copy()

In [117]:
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
평론가         100 non-null float64
네티즌         100 non-null float64
남자.1        100 non-null float64
여자.1        100 non-null float64
10대.1       100 non-null float64
20대.1       100 non-null float64
30대.1       100 non-null float64
40대.1       100 non-null float64
50대 이상.1    100 non-null float64
OST.1       100 non-null int64
영상미.1       100 non-null int64
스토리.1       100 non-null int64
연기.1        100 non-null int64
연출.1        100 non-null int64
dtypes: float64(9), int64(5)
memory usage: 11.0 KB

In [118]:
from sklearn.preprocessing import MinMaxScaler
mms = MinMaxScaler()
X = mms.fit_transform(df_b)

In [119]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=9,random_state=2)
km.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=9, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=2, tol=0.0001, verbose=0)

In [120]:
dft = df.loc[df_b.index,['영화명']+columns+['수빈','승준','선주','지후']]
dft['클러스터번호'] = km.labels_

#### 6.2. 검증하기

In [125]:
from sklearn.model_selection import train_test_split
train_index,test_index = train_test_split(range(100),test_size=0.4,random_state=4)

In [126]:
dft3 = dft.loc[test_index]
for name in ['수빈','승준','선주','지후']:
    rmeans = dft.loc[train_index].groupby('클러스터번호')[name].mean()
    k = rmeans.sort_values(ascending=False)
    rnum = k.index[0]
    rmean = k[rnum]
    tmeans = dft3.groupby('클러스터번호')[name].mean()
    print(k)
    print('%s: 추천클러스터=%d, 추천평균=%f, 검증평균=%f' % (name,rnum,rmean,tmeans[rnum]))
    print(tmeans)
    print()

클러스터번호
6    3.000000
5    2.750000
3    2.250000
2    2.142857
4    2.090909
0    2.000000
1    1.875000
7    1.666667
8    1.500000
Name: 수빈, dtype: float64
수빈: 추천클러스터=6, 추천평균=3.000000, 검증평균=3.000000
클러스터번호
0    2.444444
1    2.166667
2    2.875000
3    2.000000
4    1.750000
5    2.333333
6    3.000000
7    1.500000
8    2.000000
Name: 수빈, dtype: float64

클러스터번호
8    2.500000
3    2.375000
0    2.250000
6    2.000000
2    2.000000
5    1.750000
1    1.750000
4    1.727273
7    1.666667
Name: 승준, dtype: float64
승준: 추천클러스터=8, 추천평균=2.500000, 검증평균=3.000000
클러스터번호
0    2.666667
1    1.666667
2    2.750000
3    3.000000
4    2.000000
5    1.000000
6    3.000000
7    1.333333
8    3.000000
Name: 승준, dtype: float64

클러스터번호
5    3.000000
8    2.500000
0    2.250000
4    1.909091
1    1.875000
7    1.866667
2    1.714286
3    1.500000
6    1.000000
Name: 선주, dtype: float64
선주: 추천클러스터=5, 추천평균=3.000000, 검증평균=2.666667
클러스터번호
0    1.444444
1    1.833333
2    1.750000
3    1.500000
4    2.000000
5    2.666667
6    1.000000
7    2.000000
8    1.000000
Name: 선주, dtype: float64

클러스터번호
8    3.000000
6    3.000000
3    2.750000
2    2.571429
4    2.363636
0    2.250000
7    2.200000
5    2.000000
1    1.875000
Name: 지후, dtype: float64
지후: 추천클러스터=8, 추천평균=3.000000, 검증평균=3.000000
클러스터번호
0    2.333333
1    1.666667
2    2.750000
3    3.000000
4    2.500000
5    1.666667
6    3.000000
7    2.666667
8    3.000000
Name: 지후, dtype: float64

### 7. 리뷰로 추천하기

#### 7.1 리뷰에서 특성 벡터 만들기

In [143]:
columns = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
           '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
           '21', '22', '23', '24', '25', '26', '27', '28', '29', '30']
df_b = df[columns].copy()
df_b.shape

(100, 30)

* 영화마다 30개의 리뷰를 하나로 합치기

In [145]:
texts = df_b.apply(lambda x: ' '.join([str(t) for t in x]),axis=1)
texts.shape

(100,)

In [148]:
texts[0][:10]

'이 영화는 최근에 '

In [155]:
texts[99][:30]

'하쿠나 마타타♪♪\n - 영화 라이온킹 후기\n\xa0☆ 프롤로'

* 리뷰에서 명사만 추출하기

In [150]:
from khaiii import KhaiiiApi
api = KhaiiiApi()
nouns = []
for text in texts:
    noun_movie = []
    for token in api.analyze(text):
        for x in token.morphs:
            if x.tag == 'NNG':
                noun_movie.append(x.lex)
    nouns.append(noun_movie)

In [151]:
nouns[0][:10]

['영화', '최근', '개봉', '당시', '반감', '곳', '필름', '역사', '표', '후']

In [152]:
nouns[99][:10]

['영화', '라이온킹', '후기', '\xa0', '프롤로그요즘', '애니메이션', '영화', '\xa0실사판', '개봉', '작품']

* '\xa0', 'ㅋ', 'ㅎ', 'ㅠ'가 들어있는 단어, 불용어 제거

In [341]:
nouns2 = [[x for x in nouns_movie if re.search('\xa0|ㅋ|ㅎ|ㅠ|스파이더|트랜스포머',x) is None] for nouns_movie in nouns]

In [529]:
nouns2 = [['히어로' if x in ['히어','히어로물'] else x for x in nouns_movie] for nouns_movie in nouns2]
nouns2 = [['다큐' if x in ['다큐멘터리'] else x for x in nouns_movie] for nouns_movie in nouns2]
nouns2 = [['리얼' if x in ['리얼리티'] else x for x in nouns_movie] for nouns_movie in nouns2]

In [706]:
stopwords = ['한편','각각','각종','곳곳','공통','공통점','관객수','관람가','관람객','그간','그날','그동안',
             '그중','극장가','근래','근처','기간','기대감','기대작','기대치','기자','기사','기타',
             '기획','까닭','도중','등장인물','등급','답변','댓글','리뷰보','리뷰보기','뒷받침',
             '든것','만약','반면','정말','한동안', '한때', '한마디', '한번', '한순간', '한정', '한쪽',
             '한참', '할수', '할애']
nouns2 = [[x for x in nouns_movie if x not in stopwords] for nouns_movie in nouns2]

In [707]:
nouns2[99][:10]

['영화', '라이온킹', '후기', '프롤로그요즘', '애니메이션', '영화', '개봉', '작품', '영화', '천']

* 한글자 단어 제거하기

In [708]:
nouns3 = [[x for x in noun_movie if len(x)>1] for noun_movie in nouns2]

In [709]:
nouns3[0][:10]

['영화', '최근', '개봉', '당시', '반감', '필름', '역사', '영화', '보게', '영화']

In [710]:
nouns3[99][:10]

['영화', '라이온킹', '후기', '프롤로그요즘', '애니메이션', '영화', '개봉', '작품', '영화', '기대']

* 단어들을 연결하여 하나의 문자열로 만들기

In [711]:
corpus = [' '.join(x) for x in nouns3]

In [712]:
corpus[0][:20]

'영화 최근 개봉 당시 반감 필름 역사'

In [713]:
corpus[99][:20]

'영화 라이온킹 후기 프롤로그요즘 애니'

* 단어가 포함된 영화의 개수가 20에서 70까지인 단어들만 모아서 Document term matrix를 만든다.

In [739]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(
    min_df=20,
    max_df=70,
    ngram_range=(1,1),
    lowercase=False,
    tokenizer=lambda x:x.split(' '))
# vectorizer = CountVectorizer()

X = vectorizer.fit_transform(corpus)

In [740]:
X

<100x1361 sparse matrix of type '<class 'numpy.int64'>'
	with 48714 stored elements in Compressed Sparse Row format>

* sparse matrix를 일반 행렬로 변형

In [741]:
X2 = X.toarray()

* 각 열에 대응되는 단어들의 목록

In [742]:
vectorizer.get_feature_names()[:10]

['가게', '가미', '가상', '가수', '가슴', '가운데', '가장', '가정', '가족애', '가짜']

In [743]:
vectorizer.get_feature_names()[-10:]

['훈련', '휴가', '흉내', '흑백', '흔적', '흥분', '흥행작', '희망', '히어로', '히트']

In [744]:
len(vectorizer.get_feature_names())

1361

In [745]:
np.array(vectorizer.get_feature_names()[:500])

array(['가게', '가미', '가상', '가수', '가슴', '가운데', '가장', '가정', '가족애', '가짜', '가치',
       '가치관', '각본', '각색', '각성', '각인', '각자', '간접', '간직', '감각', '감당', '감상평',
       '감성', '감수', '감안', '감옥', '감정선', '감초', '감탄', '강도', '강요', '강자', '강점',
       '강제', '강조', '개개인', '개그', '개념', '개발', '개봉일', '개봉작', '개성', '개연',
       '개입', '객관', '거대', '거부', '거부감', '거절', '거짓', '거짓말', '건강', '건물', '검사',
       '검색', '검증', '게임', '겨냥', '겨울', '견해', '결과물', '결심', '결합', '결혼', '경계',
       '경고', '경쟁', '경제', '경찰', '경향', '경험', '계급', '계기', '계산', '계획', '고개',
       '고군분투', '고급', '고난', '고뇌', '고려', '고리', '고발', '고백', '고생', '고위', '고전',
       '고조', '고집', '고통', '고향', '곤란', '공간', '공개', '공격', '공동', '공부', '공식',
       '공유', '공존', '공주', '공포', '과도', '과시', '과언', '과장', '과학', '관리', '관점',
       '관통', '광고', '괴물', '교과서', '교육', '교차', '교체', '교훈', '구경', '구도', '구멍',
       '구분', '구석', '구원', '구조', '구체', '구축', '구출', '구현', '국가', '국민', '국제',
       '군대', '군인', '궁극', '궁금증', '권력', '권력자', '권선', '귀신', '규모', '균형',
       '그래픽', '그림', '그림자', '극단', '극대', '극도', '극복', '극찬', '극한', '근거', '금지',
       '긍정', '기계', '기관', '기능', '기도', '기반', '기법', '기술', '기술력', '기승', '기업',
       '기원', '기적', '기전', '기준', '긴박', '긴장', '깊이', '깡패', '깨알', '꼬리', '꼬마',
       '나머지', '나무', '나약', '나열', '나이', '난리', '난무', '남녀', '남녀노소', '남성',
       '남편', '납득', '낭비', '내공', '내년', '내면', '내부', '내심', '내일', '냄새', '냉정',
       '네티즌', '노골', '노래', '노릇', '노인', '노출', '논란', '논리', '놀이', '농담', '누적',
       '눈길', '눈빛', '눈앞', '눈치', '뉴스', '능가', '다리', '다수', '다짐', '다큐', '다행',
       '닥터', '단계', '단독', '단어', '단역', '단점', '단정', '단체', '단편', '달성', '담당',
       '당일', '당장', '당첨', '당황', '대가', '대결', '대다수', '대답', '대립', '대목', '대변',
       '대비', '대상', '대세', '대작', '대장', '대조', '대체', '대치', '대통령', '대학', '대항',
       '대화', '데뷔', '데이트', '도구', '도달', '도덕', '도둑', '도시', '도전', '도착', '독립',
       '독보', '독창', '독특', '돌파', '동기', '동네', '동료', '동물', '동반', '동생', '동영상',
       '동원', '동의', '동일', '동화', '두려움', '디자인', '디테일', '떡밥', '뚜껑', '라인',
       '라인업', '러닝', '러브', '로맨스', '로봇', '루즈', '리더', '리메이크', '리얼', '링크',
       '마감', '마디', '마련', '마법', '마을', '마음속', '마케팅', '막장', '막판', '만남', '만점',
       '만화', '말씀', '말투', '매체', '맥락', '머릿속', '메가박스', '메세지', '메시지', '메인',
       '멘트', '멜로', '멤버', '며칠', '면모', '멸망', '명대사', '명령', '명분', '명성', '명예',
       '명작', '명장', '명장면', '명품', '모델', '모순', '모양', '모티브', '모험', '목격',
       '목소리', '목숨', '목적', '목표', '몰입감', '몰입도', '몸매', '무게', '무게감', '무기',
       '무능', '무대', '무력', '무릎', '무리', '무비', '무술', '무시', '무식', '무장', '무지',
       '무한', '문구', '문제점', '문화', '물건', '물론', '물음', '뮤지컬', '미래', '미모', '미션',
       '미소', '미술', '미스', '미안', '미화', '민족', '민주주의', '믿음', '바다', '바닥', '바람',
       '바보', '바탕', '박사', '박수', '박진감', '반감', '반대', '반복', '반부', '반성', '반영',
       '반전', '반지', '발견', '발산', '발생', '발언', '발음', '발전', '발표', '발휘', '방문',
       '방송', '방식', '방영', '방해', '방향', '배급', '배급사', '배려', '배신', '배역', '배우분',
       '배제', '배치', '백미', '버전', '범인', '범죄', '범죄자', '베테랑', '변명', '변신', '별개',
       '별로', '별점', '병원', '보고', '보기', '보기전', '보단', '보도', '보상', '보수', '보장',
       '보통', '보편', '보호', '복귀', '복선', '복수', '복장', '본격', '본능', '본래', '본연',
       '본적', '본질', '볼거리', '부각', '부담', '부대', '부류', '부모', '부부', '부상', '부실',
       '부여', '부인', '부자', '부재', '부정', '부탁', '부하', '부활', '분노', '분량', '분류',
       '분석', '분장', '불가', '불꽃', '불만', '불법', '불안', '불편', '불행', '붕괴', '블랙',
       '블로그', '블록버스터', '비극', '비난', '비디오', '비밀', '비유', '비주얼', '비참', '비판',
       '비평', '비행기', '빈약', '사고', '사극', '사기', '사례', '사망', '사상', '사업', '사연',
       '사운드', '사장', '사전'], dtype='<U5')

In [746]:
np.array(vectorizer.get_feature_names()[500:1000])

array(['사정', '사태', '사투', '사항', '살인', '살해', '삽입', '상관', '상기', '상당', '상대방',
       '상상력', '상승', '상식', '상실', '상업', '상영관', '상위', '상징', '상처', '새끼', '색깔',
       '생략', '생명', '생산', '생존', '생활', '서로', '서비스', '서사', '선동', '선물', '선배',
       '선사', '선생', '선수', '선언', '선전', '선정', '선호', '설득', '설득력', '설치', '성격',
       '성과', '성숙', '성인', '성장', '성적', '성향', '세계관', '세기', '세대', '세력', '세련',
       '세월', '세트', '센스', '소감', '소개', '소녀', '소년', '소름', '소문', '소비', '소설',
       '소속', '소수', '소식', '소원', '소통', '소품', '소화', '속도', '속도감', '속편', '손가락',
       '손색', '수단', '수록', '수사', '수상', '수업', '수용', '수익', '수작', '수장', '수정',
       '수행', '순서', '순수', '순식간', '순위', '숫자', '슈퍼', '슈퍼맨', '스릴', '스릴러',
       '스스로', '스케일', '스코어', '스타', '스타일', '스튜디오', '스트', '스트레스', '스파이',
       '스펙터클', '슬픔', '습격', '승리', '승부', '승승장구', '시각', '시기', '시나리오', '시너지',
       '시도', '시리즈', '시민', '시사', '시사회', '시선', '시스템', '시장', '시절', '시점',
       '시종일관', '시즌', '시청', '시체', '시퀀스', '시험', '식상', '신경', '신념', '신뢰',
       '신문', '신분', '신비', '신인', '신작', '신체', '신파', '신화', '실감', '실력', '실망감',
       '실사', '실소', '실수', '실존', '실질', '실체', '실패', '실행', '실험', '실현', '실화',
       '심리', '심장', '심정', '심판', '싱크', '쓰레기', '아기', '아내', '아들', '아래', '아무것',
       '아버지', '아빠', '아역', '아이디어', '아이러니', '아저씨', '아침', '아카데미', '아픔', '악당',
       '악랄', '악마', '악역', '안녕', '안보', '안전', '안정', '알바', '암살', '암시', '암울',
       '압권', '압도', '압박', '앞뒤', '애국심', '애기', '애니', '애니메이션', '애정', '애초',
       '액션신', '액션씬', '야기', '약간', '약속', '약자', '약점', '양심', '어깨', '어둠',
       '어려움', '어른', '어린이', '어머니', '어벤', '어벤져', '어이', '어제', '어필', '억압',
       '억지', '언니', '언론', '언어', '엄마', '업그레이드', '에너지', '에피소드', '엔딩',
       '엔딩크레딧', '여기저기', '여름', '여배우', '여부', '여성', '여운', '여유', '여인', '여정',
       '여주인공', '여타', '여행', '역대', '역동', '역량', '역시', '역활', '연결', '연계', '연관',
       '연구', '연극', '연기자', '연기파', '연락', '연상', '연속', '연습', '연애', '연인',
       '연출력', '연휴', '열광', '열연', '열정', '영광', '영역', '영웅', '영원', '영향', '영향력',
       '영혼', '영화보', '영화사', '영화상', '영화인', '영화제', '예고', '예매', '예산', '예술',
       '예전', '예정', '예측', '옛날', '오늘날', '오락', '오래전', '오랜만', '오랫동안', '오류',
       '오만', '오버랩', '오브', '오빠', '오프닝', '오해', '오후', '올해', '와중', '완성도',
       '왜곡', '외국', '외국인', '외면', '외모', '외부', '왼쪽', '요구', '요새', '요약', '요원',
       '요인', '요청', '욕구', '욕망', '욕심', '용기', '용서', '우려', '우선', '우수', '우연',
       '우울', '우정', '우주', '운동', '운명', '운영', '울림', '움직임', '원본보기', '원인',
       '원작', '위기', '위로', '위원회', '위주', '위치', '위트', '위협', '유기', '유도', '유리',
       '유머', '유머러스', '유발', '유사', '유일', '유지', '유튜브', '유행', '유혹', '음모',
       '음식', '음악', '응원', '의구심', '의리', '의문', '의사', '의상', '의식', '의심', '의아',
       '의외', '의자', '의존', '의지', '이것저것', '이기', '이념', '이동', '이드', '이때', '이론',
       '이면', '이벤트', '이성', '이슈', '이스', '이외', '이웃', '이익', '이입', '이전', '이정',
       '이중', '이지', '이질감', '이쯤', '이트', '이하', '인공', '인기', '인류', '인사', '인식',
       '인연', '인원', '인정', '인지', '인터넷', '인터뷰', '일관', '일당', '일련', '일명', '일반',
       '일반인', '일방', '일부', '일상', '일정', '일종', '일주일', '일치', '임금', '임무',
       '임팩트', '입소문', '입증', '입체', '자격', '자극', '자동차', '자랑', '자료', '자막',
       '자본주의', '자비', '자살', '자세', '자식', '자유', '작가', '작년', '작성', '작성자',
       '작업', '작용', '작위', '작전', '작정', '작중', '잔인', '잔혹', '잘못', '잠깐', '잠입',
       '장군', '장기', '장난', '장담', '장비', '장소', '장식', '장악', '장점', '장치', '장편',
       '재난', '재능', '재료', '재산', '재치', '재현', '저녁', '적극', '적용', '적응', '전결',
       '전국', '전달', '전락', '전략', '전문', '전문가', '전반', '전부', '전설', '전율', '전작',
       '전쟁', '전적', '전제', '전통', '전투', '전편', '전형', '전화', '전환', '절대', '절망',
       '절반', '절정', '절제', '점령', '점수'], dtype='<U5')

In [747]:
np.array(vectorizer.get_feature_names()[1000:])

array(['접근', '정권', '정면', '정부', '정상', '정서', '정식', '정의', '정작', '정점', '정체',
       '정치', '정치인', '정통', '정확', '제거', '제공', '제대', '제시', '제안', '제압', '제외',
       '제작비', '제작사', '제작자', '제작진', '제한', '조건', '조명', '조사', '조성', '조심',
       '조작', '조절', '조정', '조직', '조폭', '조합', '조화', '존경', '존재감', '존중', '졸업',
       '종교', '종류', '종합', '좌석', '좌절', '죄책감', '주관', '주도', '주말', '주먹', '주목',
       '주요', '주위', '주의', '주인', '주장', '주체', '중반', '중반부', '중점', '즐거움', '증거',
       '증명', '증폭', '지구', '지능', '지도', '지도자', '지배', '지속', '지시', '지식', '지역',
       '지옥', '지원', '지인', '지적', '지점', '지지', '지향', '직감', '직업', '직원', '직전',
       '직접', '직후', '진리', '진실', '진심', '진입', '진정', '진화', '질문', '질주', '짐작',
       '집단', '집안', '집중력', '집착', '징악', '짜임새', '짜증', '찌질', '차기작', '차량',
       '차례', '차별', '차용', '차원', '차이점', '차지', '착각', '참고', '참여', '창조', '책임',
       '책임감', '처리', '처벌', '처절', '처지', '천만', '천재', '철저', '철학', '첨부', '청년',
       '청소년', '체제', '체포', '초기', '초대', '초반부', '초월', '초점', '총평', '최강', '최대',
       '최대한', '최선', '최소', '최소한', '최악', '최종', '최초', '최후', '추가', '추격', '추구',
       '추락', '추억', '추적', '추정', '추천드', '추측', '출동', '출발', '출신', '출연진', '출처',
       '충격', '충돌', '충성', '충실', '충족', '취급', '취향', '측면', '치료', '치명', '치부',
       '치열', '치중', '친숙', '친절', '침묵', '칭찬', '카리스마', '카메라', '카메오', '카타르시스',
       '캡틴', '커버', '커플', '컨셉', '컴퓨터', '케이스', '코드', '코미디', '코믹', '콤비',
       '쾌감', '쿠키', '퀄리티', '크기', '클로즈업', '키스', '타이밍', '타이틀', '타인', '타협',
       '탄생', '탈출', '태도', '택시', '테러', '토대', '통제', '통쾌', '통합', '투씬', '투입',
       '투자', '특성', '특수', '특이', '특정', '특징', '티비', '티켓', '파괴', '파악', '파워',
       '파트', '파티', '판단', '판타지', '팝콘', '패러디', '패배', '팩트', '편견', '편안', '편지',
       '편집', '평균', '평론가', '평생', '평소', '평일', '평화', '포기', '포스', '포스터',
       '포스트', '포스팅', '포장', '포착', '포커스', '폭력', '폭발', '폭탄', '폭파', '폭풍',
       '표정', '표출', '풍경', '풍자', '프로', '프로그램', '플레이', '플롯', '피곤', '피부',
       '피스', '피해', '피해자', '픽션', '필름', '필모그래', '필수', '필자', '하나하나', '하늘',
       '하루', '하이라이트', '학교', '학생', '한계', '한국인', '할아버지', '함정', '합류', '합리',
       '해결', '해당', '해석', '해소', '해외', '해적', '해피', '해피엔딩', '핵심', '핸드폰',
       '행보', '행복', '행사', '행위', '향연', '허구', '허락', '허무', '헌신', '헐리웃', '혁명',
       '현대', '현상', '현실감', '현장', '현재', '협력', '협박', '형사', '형성', '형식', '형제',
       '형태', '호감', '호기심', '호소', '호응', '호평', '호흡', '혹평', '혼란', '홍보', '화장실',
       '화제', '확률', '확보', '확신', '확장', '확정', '환경', '환상', '환영', '활동', '활약',
       '활용', '회복', '회사', '회상', '회의', '후반', '후보', '후속작', '후자', '후회', '훈련',
       '휴가', '흉내', '흑백', '흔적', '흥분', '흥행작', '희망', '히어로', '히트'],
      dtype='<U5')

* 각 영화리뷰에서 '추측'의 개수

In [748]:
np.where([x=='추측' for x in vectorizer.get_feature_names()])

(array([1157]),)

In [749]:
X2[:,1157]

array([ 1,  1,  0,  0,  4,  0,  1,  1,  0,  0,  0,  0,  1,  0,  2,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  8,  2,  0,  0,  1,  0,  0,
        1,  1,  1,  0,  1,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  3,
        0,  0,  0,  1,  3,  0,  1,  0,  0, 18,  0,  0,  1,  0,  1,  0,  1,
        1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  1,  3,  5,  0,  0,  0,
        5,  0,  1,  0,  0,  1,  3,  1,  1,  0,  0,  0,  0,  1,  0])

In [750]:
np.array([sum([x=='추측' for x in nouns_movie]) for nouns_movie in nouns3])

array([ 1,  1,  0,  0,  4,  0,  1,  1,  0,  0,  0,  0,  1,  0,  2,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  8,  2,  0,  0,  1,  0,  0,
        1,  1,  1,  0,  1,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  3,
        0,  0,  0,  1,  3,  0,  1,  0,  0, 18,  0,  0,  1,  0,  1,  0,  1,
        1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  1,  3,  5,  0,  0,  0,
        5,  0,  1,  0,  0,  1,  3,  1,  1,  0,  0,  0,  0,  1,  0])

#### 7.2 학습하기

In [751]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=9,random_state=2)
km.fit(X2)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=9, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=2, tol=0.0001, verbose=0)

In [752]:
dft = df[['영화명','수빈','승준','선주','지후']].copy()
dft['클러스터번호'] = km.labels_

In [753]:
dft.head()

          영화명  수빈  승준  선주  지후  클러스터번호
0          명량   2   3   1   3       0
1        극한직업   3   3   3   3       0
2   신과함께-죄와 벌   3   2   2   3       0
3        국제시장   3   2   2   2       7
4  어벤져스: 엔드게임   3   3   1   3       0

#### 7.3 검증하기

In [754]:
from sklearn.model_selection import train_test_split
train_index,test_index = train_test_split(range(100),test_size=0.4,random_state=4)

In [755]:
for name in ['수빈','승준','선주','지후']:
    rmeans = dft.loc[train_index].groupby('클러스터번호')[name].mean()
    k = rmeans.sort_values(ascending=False)
    rnum = k.index[0]
    rmean = k[rnum]
    tmeans = dft.loc[test_index].groupby('클러스터번호')[name].mean()
    print(k)
    print('%s: 추천클러스터=%d, 추천평균=%f, 검증평균=%f' % (name,rnum,rmean,tmeans[rnum]))
    print(tmeans)
    print()

클러스터번호
7    2.200000
0    2.019231
8    2.000000
4    2.000000
3    1.000000
Name: 수빈, dtype: float64
수빈: 추천클러스터=7, 추천평균=2.200000, 검증평균=1.000000
클러스터번호
0    2.34375
1    2.00000
2    1.00000
4    2.50000
5    2.00000
6    3.00000
7    1.00000
Name: 수빈, dtype: float64

클러스터번호
4    3.000000
3    2.000000
0    1.942308
7    1.400000
8    1.000000
Name: 승준, dtype: float64
승준: 추천클러스터=4, 추천평균=3.000000, 검증평균=3.000000
클러스터번호
0    2.21875
1    3.00000
2    1.00000
4    3.00000
5    1.00000
6    3.00000
7    1.00000
Name: 승준, dtype: float64

클러스터번호
4    2.000000
0    1.961538
7    1.800000
8    1.000000
3    1.000000
Name: 선주, dtype: float64
선주: 추천클러스터=4, 추천평균=2.000000, 검증평균=2.000000
클러스터번호
0    1.6875
1    3.0000
2    2.0000
4    2.0000
5    3.0000
6    1.0000
7    2.0000
Name: 선주, dtype: float64

클러스터번호
4    3.000000
0    2.423077
8    2.000000
7    1.600000
3    1.000000
Name: 지후, dtype: float64
지후: 추천클러스터=4, 추천평균=3.000000, 검증평균=3.000000
클러스터번호
0    2.5
1    2.0
2    1.0
4    3.0
5    2.0
6    3.0
7    1.0
Name: 지후, dtype: float64

### 8.리뷰에서 tfidf로 특성벡터를 만들어 추천하기

#### 8.1 tfidf 계산하기

In [756]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(
    min_df=20,
    max_df=70,
    ngram_range=(1,1),
    lowercase=True,
    tokenizer=lambda x:x.split(' '))
# vectorizer = CountVectorizer()

X = vectorizer.fit_transform(corpus)

In [757]:
X

<100x1361 sparse matrix of type '<class 'numpy.float64'>'
	with 48714 stored elements in Compressed Sparse Row format>

In [758]:
X2 = X.toarray()

* 추측에 대응되는 tfidf의 값

In [759]:
np.where([x=='추측' for x in vectorizer.get_feature_names()])

(array([1157]),)

In [760]:
X2[:,1157]

array([0.00521955, 0.00853255, 0.        , 0.        , 0.02405856,
       0.        , 0.00557733, 0.00242592, 0.        , 0.        ,
       0.        , 0.        , 0.0100295 , 0.        , 0.01586771,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.01011266, 0.00767257, 0.01885164, 0.00649382, 0.        ,
       0.        , 0.01010389, 0.        , 0.        , 0.01203262,
       0.00360972, 0.00591733, 0.        , 0.00664438, 0.00970814,
       0.        , 0.        , 0.01959558, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.00729805, 0.        , 0.        , 0.        , 0.00436811,
       0.01791778, 0.        , 0.00606271, 0.        , 0.        ,
       0.04416932, 0.        , 0.        , 0.01246746, 0.        ,
       0.00873238, 0.        , 0.0048889 , 0.01035776, 0.01073892,
       0.0218663 , 0.01134743, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.00416999,
       0.01731184, 0.04193697, 0.        , 0.        , 0.        ,
       0.02422231, 0.        , 0.01047128, 0.        , 0.        ,
       0.00765165, 0.0200234 , 0.01178168, 0.0074649 , 0.        ,
       0.        , 0.        , 0.        , 0.00667152, 0.        ])

In [761]:
np.array([sum([x=='추측' for x in nouns_movie]) for nouns_movie in nouns3])

array([ 1,  1,  0,  0,  4,  0,  1,  1,  0,  0,  0,  0,  1,  0,  2,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  1,  1,  8,  2,  0,  0,  1,  0,  0,
        1,  1,  1,  0,  1,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  3,
        0,  0,  0,  1,  3,  0,  1,  0,  0, 18,  0,  0,  1,  0,  1,  0,  1,
        1,  1,  1,  1,  0,  0,  0,  0,  0,  0,  0,  1,  3,  5,  0,  0,  0,
        5,  0,  1,  0,  0,  1,  3,  1,  1,  0,  0,  0,  0,  1,  0])

#### 8.2 학습하기

In [762]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=9,random_state=2)
km.fit(X2)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=9, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=2, tol=0.0001, verbose=0)

In [763]:
dft = df[['영화명','수빈','승준','선주','지후']].copy()
dft['클러스터번호'] = km.labels_

In [764]:
dft.head()

          영화명  수빈  승준  선주  지후  클러스터번호
0          명량   2   3   1   3       1
1        극한직업   3   3   3   3       8
2   신과함께-죄와 벌   3   2   2   3       7
3        국제시장   3   2   2   2       1
4  어벤져스: 엔드게임   3   3   1   3       0

#### 8.3 검증하기

In [765]:
from sklearn.model_selection import train_test_split
train_index,test_index = train_test_split(range(100),test_size=0.4,random_state=4)

In [766]:
for name in ['수빈','승준','선주','지후']:
    rmeans = dft.loc[train_index].groupby('클러스터번호')[name].mean()
    k = rmeans.sort_values(ascending=False)
    rnum = k.index[0]
    rmean = k[rnum]
    tmeans = dft.loc[test_index].groupby('클러스터번호')[name].mean()
    print(k)
    print('%s: 추천클러스터=%d, 추천평균=%f, 검증평균=%f' % (name,rnum,rmean,tmeans[rnum]))
    print(tmeans)
    print()

클러스터번호
5    2.750000
0    2.600000
2    2.428571
7    2.333333
4    2.285714
8    1.875000
3    1.666667
1    1.529412
6    1.333333
Name: 수빈, dtype: float64
수빈: 추천클러스터=5, 추천평균=2.750000, 검증평균=2.500000
클러스터번호
0    2.833333
1    1.500000
2    2.555556
3    2.333333
4    2.333333
5    2.500000
6    1.000000
7    2.000000
8    2.000000
Name: 수빈, dtype: float64

클러스터번호
0    2.600000
2    2.571429
7    2.000000
3    2.000000
8    1.750000
5    1.750000
6    1.666667
1    1.647059
4    1.571429
Name: 승준, dtype: float64
승준: 추천클러스터=0, 추천평균=2.600000, 검증평균=3.000000
클러스터번호
0    3.000000
1    1.833333
2    3.000000
3    2.333333
4    2.333333
5    1.000000
6    1.000000
7    1.400000
8    1.666667
Name: 승준, dtype: float64

클러스터번호
5    3.000000
3    2.666667
7    2.500000
6    2.000000
4    2.000000
2    1.714286
1    1.705882
8    1.625000
0    1.200000
Name: 선주, dtype: float64
선주: 추천클러스터=5, 추천평균=3.000000, 검증평균=2.750000
클러스터번호
0    1.000000
1    2.166667
2    1.555556
3    1.000000
4    2.000000
5    2.750000
6    2.000000
7    1.800000
8    2.333333
Name: 선주, dtype: float64

클러스터번호
3    3.000000
0    3.000000
8    2.500000
2    2.428571
1    2.352941
6    2.333333
7    2.000000
5    2.000000
4    1.714286
Name: 지후, dtype: float64
지후: 추천클러스터=3, 추천평균=3.000000, 검증평균=2.000000
클러스터번호
0    3.000000
1    2.500000
2    3.000000
3    2.000000
4    1.666667
5    1.750000
6    3.000000
7    2.000000
8    1.666667
Name: 지후, dtype: float64

# 9. 유사어

In [767]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=800,random_state=2)
km.fit(X2.T)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=800, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=2, tol=0.0001, verbose=0)

In [768]:
df_words = pd.DataFrame({'단어':vectorizer.get_feature_names(),'클러스터번호':km.labels_})

In [769]:
df_words2 = df_words.groupby('클러스터번호')['단어'].apply(lambda x: ','.join(x)).reset_index()
df_words2['단어개수'] = df_words2['단어'].apply(lambda x: len(x.split(',')))

In [770]:
df_words2.sort_values('단어개수',ascending=False).head()

     클러스터번호                                                 단어  단어개수
439     439  강점,개개인,계산,고조,공동,극도,기관,눈길,눈앞,당일,당첨,대세,독보,동반,루즈,...    50
683     683  간직,감상평,감수,검증,고난,과도,내심,네티즌,노골,단정,며칠,무능,바닥,본래,선언...    31
542     542  경고,과시,내일,도덕,배제,본연,부상,사전,생산,심정,야기,여기저기,와중,우울,자비...    28
377     377  감각,강자,경향,구멍,깊이,냉정,단역,대가,모순,무릎,방해,배치,변명,설득력,손색,...    28
106     106  가치관,견해,구석,극단,나약,능가,대치,마디,무지,불만,삽입,약점,어깨,유혹,이지,...    24

In [771]:
df_words2.loc[439,'단어']

'강점,개개인,계산,고조,공동,극도,기관,눈길,눈앞,당일,당첨,대세,독보,동반,루즈,무게,백미,보기전,비평,빈약,사항,상위,설득,세트,수업,시사,실감,실망감,실소,여부,여타,영광,영화인,오버랩,우선,위트,유기,유행,이면,입소문,장담,총평,최소,치부,커플,케이스,평소,플레이,호평,확보'

In [772]:
df_words2.loc[683,'단어']

'간직,감상평,감수,검증,고난,과도,내심,네티즌,노골,단정,며칠,무능,바닥,본래,선언,실수,압박,열광,오랫동안,외부,욕구,일관,일방,일주일,자격,추정,평균,평생,합리,행보,형태'

In [773]:
df_words2.loc[542,'단어']

'경고,과시,내일,도덕,배제,본연,부상,사전,생산,심정,야기,여기저기,와중,우울,자비,장기,제한,좌절,직후,책임감,추락,추측,친숙,태도,포커스,해소,환영,흑백'

In [774]:
df_words2.loc[106,'단어']

'가치관,견해,구석,극단,나약,능가,대치,마디,무지,불만,삽입,약점,어깨,유혹,이지,일종,일치,장식,전락,차례,처지,포스트,표출,흉내'

### 10. 평점과 리뷰(tfidf)로 추천하기

In [775]:
columns = ['평론가', '네티즌', '남자.1', '여자.1', '10대.1',
       '20대.1', '30대.1', '40대.1', '50대 이상.1', 'OST.1', '영상미.1', '스토리.1',
       '연기.1', '연출.1']
df_b = df[columns].copy()

In [776]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(
    min_df=20,
    max_df=70,
    ngram_range=(1,1),
    lowercase=True,
    tokenizer=lambda x:x.split(' '))
# vectorizer = CountVectorizer()

X = vectorizer.fit_transform(corpus)
X2 = X.toarray()

In [777]:
X2.max(axis=0)

array([0.05655303, 0.04879542, 0.04321719, ..., 0.28015875, 0.48985362,
       0.10144063])

In [780]:
df_b.max(axis=0)

평론가          9.06
네티즌          9.42
남자.1         9.24
여자.1         9.73
10대.1        9.74
20대.1        9.52
30대.1        9.42
40대.1        9.41
50대 이상.1     9.68
OST.1       26.00
영상미.1       37.00
스토리.1       37.00
연기.1        44.00
연출.1        31.00
dtype: float64

In [783]:
col10 = ['평론가', '네티즌', '남자.1', '여자.1', '10대.1','20대.1', '30대.1', '40대.1', '50대 이상.1']
df_b[col10].max(axis=0)/20

평론가         0.4530
네티즌         0.4710
남자.1        0.4620
여자.1        0.4865
10대.1       0.4870
20대.1       0.4760
30대.1       0.4710
40대.1       0.4705
50대 이상.1    0.4840
dtype: float64

In [784]:
col50 = ['OST.1', '영상미.1', '스토리.1', '연기.1', '연출.1']
df_b[col50].max(axis=0)/100

OST.1    0.26
영상미.1    0.37
스토리.1    0.37
연기.1     0.44
연출.1     0.31
dtype: float64

In [785]:
X3 = np.concatenate([df_b[col10]/20,df_b[col50],X2],axis=1)
X3.shape

(100, 1375)

#### 10.1 학습하기

In [786]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=9,random_state=2)
km.fit(X2)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=9, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=2, tol=0.0001, verbose=0)

In [787]:
dft = df[['영화명','수빈','승준','선주','지후']].copy()
dft['클러스터번호'] = km.labels_

In [788]:
dft.head()

          영화명  수빈  승준  선주  지후  클러스터번호
0          명량   2   3   1   3       1
1        극한직업   3   3   3   3       8
2   신과함께-죄와 벌   3   2   2   3       7
3        국제시장   3   2   2   2       1
4  어벤져스: 엔드게임   3   3   1   3       0

#### 10.2 검증하기

In [789]:
from sklearn.model_selection import train_test_split
train_index,test_index = train_test_split(range(100),test_size=0.4,random_state=4)

In [791]:
dft.loc[train_index].groupby('클러스터번호')['영화명'].count()

클러스터번호
0     5
1    17
2     7
3     3
4     7
5     4
6     3
7     6
8     8
Name: 영화명, dtype: int64

In [792]:
dft.loc[test_index].groupby('클러스터번호')['영화명'].count()

클러스터번호
0    6
1    6
2    9
3    3
4    3
5    4
6    1
7    5
8    3
Name: 영화명, dtype: int64

In [790]:
for name in ['수빈','승준','선주','지후']:
    rmeans = dft.loc[train_index].groupby('클러스터번호')[name].mean()
    k = rmeans.sort_values(ascending=False)
    rnum = k.index[0]
    rmean = k[rnum]
    tmeans = dft.loc[test_index].groupby('클러스터번호')[name].mean()
    print(k)
    print('%s: 추천클러스터=%d, 추천평균=%f, 검증평균=%f' % (name,rnum,rmean,tmeans[rnum]))
    print(tmeans)
    print()

클러스터번호
5    2.750000
0    2.600000
2    2.428571
7    2.333333
4    2.285714
8    1.875000
3    1.666667
1    1.529412
6    1.333333
Name: 수빈, dtype: float64
수빈: 추천클러스터=5, 추천평균=2.750000, 검증평균=2.500000
클러스터번호
0    2.833333
1    1.500000
2    2.555556
3    2.333333
4    2.333333
5    2.500000
6    1.000000
7    2.000000
8    2.000000
Name: 수빈, dtype: float64

클러스터번호
0    2.600000
2    2.571429
7    2.000000
3    2.000000
8    1.750000
5    1.750000
6    1.666667
1    1.647059
4    1.571429
Name: 승준, dtype: float64
승준: 추천클러스터=0, 추천평균=2.600000, 검증평균=3.000000
클러스터번호
0    3.000000
1    1.833333
2    3.000000
3    2.333333
4    2.333333
5    1.000000
6    1.000000
7    1.400000
8    1.666667
Name: 승준, dtype: float64

클러스터번호
5    3.000000
3    2.666667
7    2.500000
6    2.000000
4    2.000000
2    1.714286
1    1.705882
8    1.625000
0    1.200000
Name: 선주, dtype: float64
선주: 추천클러스터=5, 추천평균=3.000000, 검증평균=2.750000
클러스터번호
0    1.000000
1    2.166667
2    1.555556
3    1.000000
4    2.000000
5    2.750000
6    2.000000
7    1.800000
8    2.333333
Name: 선주, dtype: float64

클러스터번호
3    3.000000
0    3.000000
8    2.500000
2    2.428571
1    2.352941
6    2.333333
7    2.000000
5    2.000000
4    1.714286
Name: 지후, dtype: float64
지후: 추천클러스터=3, 추천평균=3.000000, 검증평균=2.000000
클러스터번호
0    3.000000
1    2.500000
2    3.000000
3    2.000000
4    1.666667
5    1.750000
6    3.000000
7    2.000000
8    1.666667
Name: 지후, dtype: float64

### 11. 질문

* 클러스터의 개수는 어떤 값이 적당한가?
* 선호 순위를 이용하여 검증하는 방법은 무엇인가?
* 선호 순위를 이용하는 것과 선호도를(1~3) 이용하는 것은 학습과 검증에서 어떤 차이가 있는가?